@model MvcDriverVerify.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Driver/User Details:</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UId" />
            <div class="form-group  form-group-input">
                <label asp-for="UNames" class="control-label"></label>
                <input asp-for="UNames" class="form-control" />
                <span asp-validation-for="UNames" class="text-danger"></span>
            </div>
            <div class="form-group  form-group-input">
                <label asp-for="UGender" class="control-label"></label>
                <input asp-for="UGender" class="form-control" />
                <span asp-validation-for="UGender" class="text-danger"></span>
            </div>
            <div class="form-group form-group-input">
                <label asp-for="URating" class="control-label"></label>
                <input asp-for="URating" class="form-control" />
                <span asp-validation-for="URating" class="text-danger"></span>
            </div>
            <div class="form-group  form-group-input">
                <label asp-for="UAge" class="control-label"></label>
                <input asp-for="UAge" class="form-control" />
                <span asp-validation-for="UAge" class="text-danger"></span>
            </div>
            <div class="form-group  form-group-input">
                <label asp-for="UVid" class="control-label"></label>
                <select asp-for="UVid" class="form-control" asp-items="ViewBag.UVid"></select>
                <span asp-validation-for="UVid" class="text-danger"></span>
            </div>
            <div class="form-group  form-group-input">
                <label asp-for="UPartnerId" class="control-label"></label>
                <select asp-for="UPartnerId" class="form-control" asp-items="ViewBag.UPartnerId"></select>
                <span asp-validation-for="UPartnerId" class="text-danger"></span>
            </div>
            <div class="form-group  form-group-input">
                <label asp-for="UUsertypeId" class="control-label"></label>
                <select asp-for="UUsertypeId" class="form-control" asp-items="ViewBag.UUsertypeId"></select>
                <span asp-validation-for="UUsertypeId" class="text-danger"></span>
            </div>
            <div class="form-group  form-group-input">
                <label asp-for="UPlatformId" class="control-label"></label>
                <select asp-for="UPlatformId" class="form-control" asp-items="ViewBag.UPlatformId"></select>
                <span asp-validation-for="UPlatformId" class="text-danger"></span>
            </div>
            <div class="form-group  form-group-input">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
